/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Blue : #0065FC
Light blue : #DEEBFF 
Grey : #F2F2F2
*/




body{
    margin: 0 auto;
    max-width: 1650px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

main{
    padding-left: 35px;
    padding-right: 35px;
}

a {
    text-decoration: none;
    color: black;
}

h1{
    line-height: 1em;
}


h2{
     font-size: 20px;
}

h3{
    font-size: 23px;
}

h4{
    font-size: 19px;
    font-weight: 700;
}

h5{
    font-size: 18px;
 
}

p{
    font-size: 18px; 
}

ul{
    list-style: none
}

/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */


header{
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
}

header img{
    height: 7vh;
}

ul{
    margin: 0;
    display: flex;
}

.menu-right{
    width: 8.5em;
    text-align: center;
    padding-top: 10%;
    border-top: 3px solid transparent; 
}

.menu-right a:hover{
    color: #0065FC;
}

.menu-right:hover{
    border-top: 3px solid #0065FC;
    font-weight: 600;
    color: #0065FC;
}

#ins{
    color: #0065FC;
    font-weight: 600;
    width: 8.5em;
    text-align: center;
    padding-top: 30%;
    border-top: 3px solid transparent;
}

#ins:hover{
    background-color: #0065FC;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    height: 4vh;
}

#ins2{
    visibility: hidden;
}


/* ---------------------------------------- */
/* ==            PRÉSENTATION                */
/*---------------------------------------- */


h1{
    font-size: 150%;
    font-weight: 800;
}
#presentation, p{
    font-size: 105%;
}

/* Search */

.logo-gps{ 
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F2F2F2;
    width: 3em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;    
    font-size: 20px;
}

#searching{
    display: flex;
    height: 3.7em;
    margin-top: 2%;
}

#site-search{
    width: 13em;
    border: 0.5px #F2F2F2 solid;
    font-size: 130%;
    color: black
}

.monBoutton{
    background-color: #0065FC;
    color:white;
    width: 8em;
    text-align:center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 130%;
    line-height: 3em;
    font-weight: bold;
  }

input::placeholder{
    color: black;
    font-weight: bold
}
.loupe{
    display: none
}

/* ---------------------------------------- */
/* ==            FILTERS               */
/*---------------------------------------- */


#filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3em;
}

#filters-all {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60em;
}

#filters-title{
    font-weight: 800;
    font-size: 23px;
    padding-right: 3%;
}

    /*     Button     */

.button{
    display: flex;
    align-items: center;
    background-color: white;
    height: 55px;
    border-radius: 50px;
    font-weight: bold;
    border: 2px lightgrey solid;
}
.button:hover{
    background-color:#DEEBFF;
    border: 2px #DEEBFF solid;
}
.logo-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 100%; 
    margin-left: -7px;
    width: 55px;
    height: 55px;
}

.icon{
    color:#0065FC;
    font-size: large;
}

.button span{
    font-size: 1.2rem;
}

    /*      Info      */

.info1{
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.icon-info{
    display: flex;   
    align-items: center;
    justify-content: space-evenly;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color:#0065FC;
    border: #F2F2F2 2px solid;
   
}

.text p{
    margin-left: 10px
}

/* ---------------------------------------- */
/* ==            POPULAR MARSEILLE             */
/*---------------------------------------- */

#all-rooms{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 46em;
}

#rooms-right{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #F2F2F2;
    width: 30%;
}

    /*      Title      */

.title-popular{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px 0px;
    font-weight: 900;
    font-size: 20px;
}

    /*      Container image    */

#grid-right{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
    height: 100%;
}

.photo-right{ 
    display: flex;
    justify-content: space-around;
    height: 30%;
    width: 80%;
}

.photo-right a{
    display: flex;
    color: black;
    background-color: white;
    border-radius: 30px;
    border: 5px solid white;
}

.img-pop{
    width: 40%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
}

.text-right{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3%;
}

.text-right h4{
    margin-top: -5px;
}

.text-right p{
    margin-top: -30px;
}

/* ---------------------------------------- */
/* ==            ROOM MARSEILLE             */
/*---------------------------------------- */

#rooms-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    background-color: #F2F2F2;
    width: 67%;
}
    /*      Title      */

#Hébergements{
    margin-left: 50px;
    font-weight: 900;
    font-size: 20px;
    padding-top: 1%;
}

    /*      Container image     */

#pics3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 1%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    }

.photo-left1{
    max-width: 375px;
    color: black;
    background-color: white;
    border-radius: 30px;
    border: 5px solid white;
    margin-bottom: 3%;
    width: 30%;
    box-shadow: 0px 0px 10px 4px rgba(232, 225, 225, 0.75);
}

.text-left{
    line-height: 3px;
    margin: -8px 5px 10px 9px;
}

.img-mars{
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    height: 145px;
}

.blue{
    color: #0065FC
}

.grey{
    color: #F2F2F2
}

    /*      Afficher plus     */

#more{
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;  
    padding-bottom: 30px
}

/* ---------------------------------------- */
/* ==            ACTIVITY                */
/*---------------------------------------- */

    /*      Title     */

#Activités{
    padding-top: 3%;
    padding-bottom: 1%;
}

/*      Container image     */

.allactivity{
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 2px 10px #F2F2F2;
}

.photo-down{
    width: 22%;
}

.column-activity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}


.text-down{
    padding: 5% 5% 5% 3%;
    box-shadow: 1px 2px 10px #F2F2F2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.text-down h4{
    margin: 0;
}

.text-down-2{
    padding: 5% 5% 5% 3%;
    box-shadow: 1px 2px 10px #F2F2F2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.text-down-2 h4{
    margin: 0;
}

.img-down-height{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    height: 500px;
    width: 100%;
}

#img-pomegues{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    height: 250px;
    width: 100%;
}

#img-frioul{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    height: 175px;
    width: 100%;
}

#img-dame{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    height: 210px;
    width: 100%;
}

#img-longchamp{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    height: 210px;
    width: 100%;
}

/* ---------------------------------------- */
/* ==            FOOTER                */
/*---------------------------------------- */


.footer-down {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin-top: 3%;
    padding-bottom: 2%;
 }

.column{
    display: flex;
    flex-direction: column;
    height: 15vh;
    
}

.column2{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
}

/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

@media screen and (max-width: 1024px){

    main{
        padding: 0;
    }

    header{
        padding: 0;
    }

     h2{
        font-size: 15px;
    }

    h3{
        font-size: 18px;
    }

    h4{
        font-size: 18px;
        font-weight: 700;
        line-height: 100%;
    }

    h5{
        font-size: 15px;
    }

    p{
        font-size: 15px; 
    } 
    
    /* Header */
    
    header img{
        margin-left: 19px;
    }

    #none{
        display: none;
    }  
    
    header{
        flex-wrap: wrap;
        font-size: 1.1em
    } 
    
    header ul{
        width: 100%;
        padding: 0;
    }

    .menu-right{
        border-bottom: 3px solid #cecece;
        width: 100%;
        padding: 2vh
    }
    
    #lol{
        display: flex;
        width: 100%;
    }

    .menu-right:hover{
        border-top: 3px solid transparent;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        font-weight: 600;
    }

    #ins2{
        visibility: visible;
        color: #0065FC;
        font-weight: 600;
        width: 8.5em;
        text-align: center;
        height: 5vh;
        padding-top: 30%;
    }
    
    #ins2:hover{
        background-color: #0065FC;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        color: white;
    }
    
   #responsive{
        width: 100%;
        display: flex;
        justify-content: space-between; 
    }
    
    header img{
        padding-top: 3%;
    }
    
    /* Présentation */
    
    #presentation{
        padding-left: 2%;
    }
    
    /* Search */
    
    #searching{
        padding-top: 3%;
        padding-left: 2%;
    }
    
    .monBoutton{
        display: none
    }
    
    .loupe{
        display: contents; 
    }
   
    .loupe i{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 30%;
        background-color: #0065FC;
        color: white;
        width: 10vh;
        font-size: 20px;
    }
    
    /* Filters */
    
    #filters-all{
        justify-content: flex-start;
    }

    .button{
        margin-bottom: 3%;
        margin-right: 3%;
    }
    
    #filters{
        margin-top: 3%;
        padding-left: 2%;
        width: auto;
    }

    .info1{
        padding-left: 2%;
    }
    
    /* Popular-marseille */
    
    #all-rooms{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
    
    #rooms-right{
        width: 100%;
        border-radius: 0;
        height: 100vh;
    }
    
    .photo-right{
        width: 100%;
        height: 20vh;
    }
    
    .photo-right a{
        height: 20vh;
        width: 100%;
    }
    
    .img-pop{
        height: 20vh;
        width: 45%;
    }

    #grid-right{
        padding: 0 3%;
    }
    
    /* Rooms-marseille */
    
    #rooms-left{
        width: 100%;
        background-color: white;
    }
    
    .photo-left1 {
        height:auto;
        max-width: none;
        width: 100%;
    }
    
    .pics3{
        padding: 0 3%;
    }
    
    /* Activity */
    
    #Activités{
        padding: 0 3%;
    }

    .allactivity{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 3%;
    }
    
    .photo-down-left{
        border-radius: 30px;
        padding: 0;
        box-shadow: 0px 0px 10px 4px rgba(232, 225, 225, 0.75);
    }
    
    .photo-down-right{
        padding-top: 5%;
    }
    
    #img-pomegues{
        height: 20vh;
    }


    .allactivity img{
        height: 20vh;
    }

    .column-activity{
        width: 100%;
    }

    .photo-down-small-pomegues{
        padding-top: 5%;
    }
    
    .photo-down-small-dame{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .photo-down-small-frioul{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .img-down-height{
        width: 100%;
        height: 20vh;
    }
    
    .img-down{
        width: 100%;
    }

    .text-down{
        padding: 0 0 5% 2%;
        height: 20px;
    }

    .text-down-2{
        padding: 0 0 5% 2%;
        height: 20px;
    }
    
    /* Footer */

    .photo-down{
        width: 100%;
    }
    
    .footer-down{
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-left: 3%;
        line-height: 30px;
    }
    
    .title{
        padding-top: 3%
    }     
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    #act{
        width: 93.2%
    }
    .text-down{
        padding: 0 0 5% 2%;
        height: 0;
    }

    .text-down-2{
        padding: 0 0 5% 2%;
        height: 0;
    }
}