body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

*{
        margin:0
    }

a {
    text-decoration: none;
    color: black;
}

h1{
    line-height: 1em;
}


h2{
     font-size: 20px;
}

h3{
    font-size: 23px;
}

h4{
    font-size: 23px;
    font-weight: 700;
    line-height: 100%;
}

h5{
    font-size: 18px;
 
}

p{
    font-size: 18px; 
}

ul{
    list-style: none
}


/* Header */

header{
    display: flex;
    justify-content: space-between;
}

img{
    height: 7vh;
}

ul{
    margin:0;
    display: flex;
}

#lol{
    display: flex;
}

#hbg{
    width: 8.5em;
    text-align: center;
    padding-top: 30%; 
}

#hbg:hover{
    border-top: 3px solid #0065FC;
    color: #0065FC;
    font-weight: 600;
}


#act{ 
    width: 8.5em;
    text-align: center;
    padding-top: 30%;
}

#act:hover{
    border-top: 3px solid #0065FC;
    color: #0065FC;
    font-weight: 600;
}

#ins{
    color: #0065FC;
    font-weight: 600;
    width: 8.5em;
    text-align: center;
    padding-top: 30%;
}

#ins:hover{
    background-color: #0065FC;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    height: 5vh;
}

#ins2{
    visibility: hidden;
}


/* Présentation */

h1{
    font-size: 150%;
    font-weight: 800;
}
#presentation, p{
    font-size: 105%;
    margin-top: 2%;
}

/* Search */

.logo-gps{ 
    display:flex;
    align-items: center;
    justify-content: space-around;
    height: 3em;
    background-color: #F2F2F2;
    width: 3em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;    
    font-size: 20px;
}

#searching{
    display: flex;
    height: 3.7em;
    margin-top: 2%;
}

#site-search{
    width: 13em;
    border: 0.5px #F2F2F2 solid;
    font-size: 130%;
    color: black
}

.monBoutton{
    background-color: #0065FC;
    color:white;
    width: 8em;
    text-align:center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 2.8em;
    font-size: 130%;
    line-height: 3em;
    font-weight: bold;
  }

input::placeholder{
    color: black;
    font-weight: bold
}
.loupe{
    display: none
}

/* Filters */

#filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3em;
}

#filters h3{
    margin-right: 3em;
}
#filters-all {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60em;
}

.button{
    display: flex;
    align-items: center;
    background-color: white;
    height: 55px;
    border-radius: 50px;
    font-weight: bold;
    border: 2px lightgrey solid;
}
.button:hover{
    background-color:#DEEBFF;
    border: 2px #DEEBFF solid;
}
.logo-filter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DEEBFF;
    border-radius: 100%; 
    margin-left: -7px;
    width: 55px;
    height: 55px;
}

.icon{
    color:#0065FC;
    font-size: large;
}

.button span{
    font-size: 1.2rem;
}

#filters-title{
    font-weight: 800;
    font-size: 23px;
}

/* Info */

.info1{
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.icon-info{
    display: flex;   
    align-items: center;
    justify-content: space-evenly;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color:#0065FC;
    border: #F2F2F2 2px solid;
   
}

.text p{
    margin-left: 10px
}


/* Room Marseille */

#rooms-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    background-color: #F2F2F2;
    width: 65%;
}

#Hébergements{
    margin-left: 50px;
    font-weight: 900;
    font-size: 20px;
    padding-top: 3%;
}

.photo-left1{
    max-width: 375px;
    height: 27vh;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: white;
    border-radius: 30px;
    border: 5px solid white;
    margin-bottom: 3%;
    box-shadow: 1px 1px 15px rgb(111, 111, 111);
}

.text-left{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-mars{
    height: 18vh;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
}

.pics3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 3%;
}

.blue{
    color: #0065FC
}

.grey{
    color: #F2F2F2
}

/* Afficher plus */

#more{
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;  
    padding-bottom: 30px
}


/* Popular Marseille */

.title-popular{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px 0px;
    font-weight: 900;
    font-size: 20px;
}

#rooms-right{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #F2F2F2;
    width: 30%;
}

.photo-right{
    display: flex;
    color: black;
    background-color: white;
    border-radius: 30px;
    border: 5px solid white;
    height: 15vh;
    width: 80%;
}

.img-pop{
    height: 15vh;
    width: 15vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
}

.text-right{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#all-rooms{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#grid-right{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
    height: 100%;
}

.star-right{
}


/* Activity */

.allactivity{
    display: flex;
    justify-content: space-between;
}

.img-down-height{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
}


#Activités{
    padding-top: 3%;
    padding-bottom: 1%;
}

.text-down{
    padding: 3% 0 4% 3%;
    box-shadow: 1px 2px 10px #F2F2F2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.all-activity{
    display: flex;
    justify-content: space-between;
}

.img-down-height{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    height: 50vh;
    width: 43vh;
}


.img-down{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    height: 20vh;
    width: 43vh;
}

.text-down-2{
    padding: 3% 0 4% 3%;
    box-shadow: 1px 2px 10px #F2F2F2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.photo-down-small-frioul{
    padding-top: 10%;
}

.photo-down-small-longchamp{
    padding-top: 10%;
}

/* Footer */

.footer-down {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin-top: 3%;
    padding-bottom: 2%;
 }

.column{
    display: flex;
    flex-direction: column;
    height: 15vh;
    
}

.column2{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
}

.title{
    padding-top: 15%;
}






/* Media Queries */

/* iphone 8 */

@media screen and (max-width: 900px){
    
    
    #presentation, p{
        padding-top: 3%
    }
    
    .button{
        margin-top: 3%;
    }
    
    #filters{
        margin-top: 3%
    }
    
    #searching{
        padding-top: 3%;
    }
    
    .photo-left1 {
        height:auto;
    }
    
    .loupe i{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 30%;
        background-color: #0065FC;
        color: white;
        align-items: center;
        width: 15%;
        font-size: 20px;
    }
    
    .footer-down{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 3%;
    }
    
    .title{
        padding-top: 3%
    }
    
    #all-rooms{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .allactivity{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 3%
    }
    
    .photo-down-left{
        padding: 0;
    }
    
    .photo-down-right{
        padding-top: 10%;
    }
    
    .photo-down-small-pomegues{
        padding-top: 10%;
    }
    
    .photo-down-small-dame{
        padding-top: 10%;
    }
    
    .img-down{
        width: 100%;
    }
    
    footer{
        padding-top: 10%;
    }
    
    .img-down-height{
        width: 100%;
        height: 20vh;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    
    #none{
        display: none;
    }
    
    header{
        flex-wrap: wrap;
        font-size: 1.1em
    } 
    
    header ul{
        height: 10.1vh;
        width: 100%;
        padding: 0;
    }
    
    header ul li{
        width: 50%;
        padding: 1rem 0;
    }
    #hbg{
        border-bottom: 3px solid #cecece;
        width: 100%;
        padding: 2vh
    }
    
    #lol{
        display: flex;
        width: 100%;
    }

    #hbg:hover{
        width: 100%;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        font-weight: 600;
    }


    #act{ 
        border-bottom: 3px solid #cecece;
        width: 100%;
        padding: 2vh
    }

    #act:hover{
        width: 100%;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        font-weight: 600;
    }
    
    #ins{
        display: none
    }
    
    #ins2{
    visibility: visible;
    color: #0065FC;
    font-weight: 600;
    width: 8.5em;
    text-align: center;
    height: 5vh;
    padding-top: 30%;
    }
    
    #ins2:hover{
    background-color: #0065FC;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
}
   #responsive{
        width: 100%;
        display: flex;
        justify-content: space-between; 
    }
    header img{
        padding-top: 3%;
    }
    #rooms-left{
        width: 100%;
        background-color: white;
        padding-top: 3%;
    }
    
        .pics3{
            padding-top: 3%;
        }
    
    #rooms-right{
        width: 100%;
        border-radius: 0;
        height: 100vh;
    }
    
    .img-pop{
        height: 20vh;
    }
    
    .photo-right{
        width: 60%;
        height: 20vh;
    }
    
    .monBoutton{
        display: none
    }
    
    .loupe{
        display: contents; 
    }
    h2{
     font-size: 15px;
}

h3{
    font-size: 18px;
}

h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
}

h5{
    font-size: 15px;
 
}

p{
    font-size: 15px; 
} 
}

@media screen and (max-width: 450px){
    
    .photo-right{
        width: 80%;
    }
    
}

@media screen and (min-width: 900px) and (max-width: 1440px){
    .allactivity{
        flex-wrap:wrap; 
    }
    #rooms-right{
        width: 45%;
    }
    #rooms-left{
        width: 50%;
    }
}

